.error {
	color: red;
	font-size: 100%;
}

.ui-grid-col-6-user {
	width: 60%;
	max-width: 60%;
}

.ui-widget {
    font-family: 'Lato', sans-serif' !important;
    font-size: 1.1em;
}

.ui-grid-col-4-user {
	width: 40%;
	max-width: 40%;
}

.animated .ui-progressbar-value { 
	background-image: url("#{resource['images/pbar-ani.gif']}"); 
}

.texth1 {
	float: left;
	border: 0px;
	text-align: left;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	padding-bottom: 20px
}

.availableScoreTable td {
	padding-top: 10px;
}

.accordion {
	font-family: 'Lato', sans-serif;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 14px;
	/* font: italic 14px Georgia, sans-serif; */
}

.tooltip {
	font-family: 'Lato', sans-serif;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 14px;
	width: auto;
	max-width: 400px;
}

.csvImage {
	background-image: url("#{resource['images/icons/csv.png']}") !important;
}

.xlsImage {
	background-image: url('icons/xls.png') !important;
}

.sdfImage {
	background-image: url('icons/sdf.png') !important;
}

.zipImage {
	background-image: url('icons/zip.png') !important;
}

.texth2 {
	float: left;
	border: 0px;
	text-align: left;
	font-family: 'Lato', sans-serif;
	color: rgba(0, 0, 0, 0.6);
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 18px;
}

.blankTable {
	border: none;
	width: 80%;
}

.blankTable td,th {
	border: none;
}

.blankTable table thead {
	display: none;
}

.resultImageFirst {
	width: auto;
	border: none !important;
}

.resultImageSecond {
	vertical-align: top;
	width: 10px;
	border: none !important;
}

.firstColumnDatabase {
	width: 110px;
	max-width: 110px;
	min-width: 110px;
	text-align: left;
}

.secondColumnDatabase {
	text-align: left;
}

.firstColumnScore {
	width: 130px;
	min-width: 130px;
	text-align: left;
}

.secondColumnScore {
	text-align: left;
}

.firstColumnScoreSummary {
	width: 160px;
	min-width: 160px;
	text-align: left;
	vertical-align: top;
}

.secondColumnScoreSummary {
	text-align: left;
	vertical-align: top;
}

.ui-input-label-left {
	display: inline-block;
	padding-right: 10px;
	width: auto !important
}

.firstColumnSimple {
	width: 0px;
	text-align: left;
}

.secondColumnSimple {
	width: auto;
	text-align: left;
}

.menu {
	padding: 4px;
	border-radius: 4px;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
	height: auto !important;
}

#header {
	width: 90%;
}

#content {
	width: 90%;
	padding: 10px;
	padding-bottom: 200px;
	height: auto;
	position: relative;
}

@media all and (max-device-width: 600px) {
	#content {
		width: 100%;
		padding: 0px;
	}
	#header {
		width: 100%;
	}
}

#footer {
	vertical-align: bottom;
	background-color: #555;
	border-top: 3px solid #75D5F3;
	padding: 15px;
	color: #EFEFEF;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: 'Lato', sans-serif;
/*	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-size: 14px;
	height: 100px;
}

.mainPanel {
	padding-top: 10px;
}

.mainPanel td {
	max-width: 100px;
}

.subPanel {
	padding-left: 30px;
	padding-bottom: 20px;
	min-width: 150px;
}

.button {
	height: 25px;
	font-size: 0.8em !important;
}

.button .first-child .ui-button {
	display: inline-block;
	position: relative;
	padding: 4px 10px 4px 10px;
	margin-right: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: hidden;
	*overflow: visible;
}

.panelColumns td {
	vertical-align: top;
}

.footerTableColumns {
	vertical-align: top;
	width: 33%;
	min-width: 33%;
	max-width: 33%;
}

.ui-dialog-title {
	font-family: 'Lato', sans-serif;
/*	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-size: 15px;
	font-weight: normal;
}

.firstColumnButton {
	vertical-align: top;
	width: 50%;
	max-width: 50%;
	min-width: 50%;
	text-align: left;
}

.secondColumnButton {
	vertical-align: top;
	width: 50%;
	max-width: 50%;
	min-width: 50%;
	text-align: left;
}

.ui-messages-error-detail-user {
	margin-left: -5px;
	margin-right: 5px;
}

.ui-messages-error-icon-user {
	height: 24px;
	width: 24px;
	/*
	background: transparent
		url("/MetFragWeb/javax.faces.resource/messages/messages.png.xhtml?ln=primefaces&v=4_0_0_141104&v=5.3")
		no-repeat scroll 0% 0%;
	background-color: transparent;
	background-image:
		url("/MetFragWeb/javax.faces.resource/messages/messages.png.xhtml?ln=primefaces&v=4_0_0_141104&v=5.3");
	*/
	background-image: url("#{resource['images/icons/messages.png']}");
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px -87px;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	display: block;
	float: left;
	margin-top: -8.5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
}

.ui-messages-error-user {
	font-size: 0.9em;
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	margin: -9px 0 -9px 0;
	padding: 0 0 0 0;
}

.ui-messages-info-detail-user {
	margin-left: -5px;
	margin-right: 5px;
}

.ui-messages-info-icon-user {
	height: 24px;
	width: 24px;
	/*
	background: transparent
		url("/MetFragWeb/javax.faces.resource/messages/messages.png.xhtml?ln=primefaces&v=4_0_0_141104&v=5.3")
		no-repeat scroll 0% 0%;
	background-color: transparent;
	background-image:
		url("/MetFragWeb/javax.faces.resource/messages/messages.png.xhtml?ln=primefaces&v=4_0_0_141104&v=5.3");
	*/
	background-image: url("#{resource['images/icons/messages.png']}");
	background-color: transparent;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px -352px;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	display: block;
	float: left;
	margin-top: -8.5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position: relative;
}

.ui-messages-info-user {
	font-size: 0.9em;
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #D9EDF7;
	margin: -9px 0 -9px 0;
	padding: 0 0 0 0;
}

.firstColumnDatabaseButtons {
	width: 50%;
	max-width: 50%;
	min-width: 50%;
	text-align: left;
	vertical-align: top;
}

.secondColumnDatabaseButtons {
	width: 50%;
	max-width: 50%;
	min-width: 50%;
	text-align: left;
	vertical-align: top;
}

.fragmentColumns {
	padding-bottom: 20px;
}

.fragmentSubColumns {
	padding-bottom: 10px;
}

.statisticsColumn1 {
	width: 85%;
}

.statisticsColumn2 {
	width: 15%;	
	padding-top: 20px;
	vertical-align: top;
}

.databaseButtons {
	vertical-align: top;
}

#footer a {
	color: #B4B3B3;
	text-decoration: none;
}

#footer a:hover {
	color: #f5f5f5;
	text-decoration: none;
}

.advancedTab {
	padding-top: 0.35em !important;
	padding-bottom: 0.225em !important;
	padding-left: 3em !important;
	font-size: 90% !important;
}

/* overrides primefaces */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    /*background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4)) repeat scroll 0 0 #2e8428 !important;*/

	background: rgba(46,132,40,1);
	background: -moz-linear-gradient(top, rgba(46,132,40,1) 0%, rgba(129,181,126,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,132,40,1)), color-stop(100%, rgba(129,181,126,1)));
	background: -webkit-linear-gradient(top, rgba(46,132,40,1) 0%, rgba(129,181,126,1) 100%);
	background: -o-linear-gradient(top, rgba(46,132,40,1) 0%, rgba(129,181,126,1) 100%);
	background: -ms-linear-gradient(top, rgba(46,132,40,1) 0%, rgba(129,181,126,1) 100%);
	background: linear-gradient(to bottom, rgba(46,132,40,1) 0%, rgba(129,181,126,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e8428', endColorstr='#81b57e', GradientType=0 );
    
    color: #F5F5F5 !important;
    font-weight: bold !important;
	text-shadow: none !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    /*background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) repeat scroll 0 0 #32a42d;*/
    
	background: rgba(50,164,45,1);
	background: -moz-linear-gradient(top, rgba(50,164,45,1) 0%, rgba(132,200,129,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,164,45,1)), color-stop(100%, rgba(132,200,129,1)));
	background: -webkit-linear-gradient(top, rgba(50,164,45,1) 0%, rgba(132,200,129,1) 100%);
	background: -o-linear-gradient(top, rgba(50,164,45,1) 0%, rgba(132,200,129,1) 100%);
	background: -ms-linear-gradient(top, rgba(50,164,45,1) 0%, rgba(132,200,129,1) 100%);
	background: linear-gradient(to bottom, rgba(50,164,45,1) 0%, rgba(132,200,129,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32a42d', endColorstr='#84c881', GradientType=0 );
    
    box-shadow: 0 0 8px #32a42d;
   	color: #F5F5F5 !important;
    font-weight: bold;
    text-shadow: none !important;
}


.dataScroller .ui-widget-content { 
	background: transparent !important;
	border: none !important;
	height: auto !important;
	max-height: 100px !important;
	margin-top: 30px;
}

.ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive {
	border: none !important;
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus {
	/*background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) repeat scroll 0 0 #fff;*/
    border: 1px solid #32a42d;
	box-shadow: 0 0 8px #32a42d, 0px 2px 2px #8F8F8F inset;
	color: #4F4F4F !important;
	text-shadow: none !important;
	background: transparent !important;
}

.ui-inputfield.ui-state-hover, .ui-widget-content .ui-inputfield.ui-state-hover, .ui-widget-header .ui-inputfield.ui-state-hover {
	/*background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0)) repeat scroll 0 0 #fff;*/
    border: 1px solid #32a42d;
	box-shadow: 0px 2px 2px #8F8F8F inset !important;
	color: #4F4F4F !important;
	text-shadow: none !important;
	background: transparent !important;
}

.ui-dialog-user:hover {
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 40px !important;
	padding:0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	border-right: none;
}

.log:hover {
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 90% !important;
	padding:0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	border-right: none;
}


.log {
	top: 1% !important;
}

.ui-dialog-user {
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
	left: auto !important;
	height: 100px !important;
	position: fixed;
	width: 30px;
	right: 0px;
	top: 50%;
	display: block !important;
	background-color: #008000;
	padding: 0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	border: 1px solid #A8A8A8;
	border-radius: 3px;
	border-right: none;
	/*background-image: url("#{resource['images/feedback.png']}");*/
}

.jqplot-point-label {
	font-size: 0.9em !important;
	transform: rotate(-45deg);
	padding-left: 30px;
	z-index: 0 !important;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
