name: Build cli for release

on:
  push:
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - run: mvn package -pl MetFragCommandLine -am -DskipTests
      - name: Add asset to release
        uses: softprops/action-gh-release@v2
        with:
          files: 'MetFragCommandLine/target/MetFragCommandLine-*jar'